.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper h1{
    margin: 0;
    font-size: 150px;
    color: rgba(225, 225 , 225 ,0.01);
    background-image: url(https://picsum.photos/id/974/700);
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    

}